.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    
}
.head-img{
    width: auto;
    transition: max-width 1s, min-width 1s;
}

.head-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    
}
.head-img-expand{
    max-width: 250px;
    min-width: 230px
}
.head-img-contract{
    max-width: 60px;
    min-width: 40px;
}